@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cali";
    src: url('./fonts/font.ttf');
}

@font-face {
    font-family: "walkway";
    src: url('./fonts/Walkway.ttf');
}

@font-face {
    font-family: "margey";
    src: url('./fonts/MAREGY.otf');
}
